// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//colors
$background-color-other: rgba(22, 233, 205, 0.233);
$background-color-main-light: rgba(22, 233, 205, 0.65);
$background-color-main: rgb(22,233,205);
$dashboard-section-second-background-color:whitesmoke;

//mixinx
@mixin text-overflow() {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

@mixin sticky-loader() {
    position: sticky;
    width: 100%;
    text-align: center;
    top: 10px;
    z-index: 1;
}

@mixin form-section() {
    font-size: 12px;
    font-weight: 500;
    border-bottom: 1px solid gray;
}
